.portfolio_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio_item {
    width: 120%;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: 400ms;
    margin: 1.5% 0;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.portfolio_item img {
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-right: 20rem;
}

.link{
    margin-left: 8rem;
    margin-top:2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}